<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coletz.sharedprefdao.editor">

    <application>
        <activity
            android:name="com.coletz.sharedprefdao.editor.SharedPrefFileActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/shared_pref_file_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name="com.coletz.sharedprefdao.editor.SharedPrefListActivity"
            android:hardwareAccelerated="true"
            android:label="@string/shared_pref_list_title"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>